extends "generic/DetailView.html"
-load static
-load i18n
-load mirari_tags

block object_name
    {{object.name}}

block styles
    {{block.super}}
    link(href="{%static 'metronic/dist/demo5/assets/app/custom/invoices/invoice-v2.default.css'%}", rel='stylesheet', type='text/css')
    style.
        .kt-invoice-2 .kt-invoice__actions .kt-invoice__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    .

block content
    .kt-portlet
        .kt-portlet__body.kt-portlet__body--fit
            .kt-invoice-2
                .kt-invoice__wrapper
                    .kt-invoice__actions.px-5.pt-4
                        .kt-invoice__container
                            button.btn.btn-brand.btn-bold(type='button', onclick='window.print();') IMPRIMIR
                    .kt-invoice__head.kt-invoice__container.kt-invoice__container--centered
                        .row
                            .col-lg-12
                                form.kt-form.kt-form--label-right
                                    .kt-portlet__body
                                        h2 {{object.name}}
                                        .form-group
                                            label(for='') ELIGE UN MES
                                            select#exampleSelect1.form-control(v-model="selected")
                                                option(v-for="option in options" v-bind:value="option.value")
                                                    | ${option.text}
                    .kt-invoice__body.kt-invoice__body--centered
                        .row
                            .col-lg-6
                                .kt-invoice__logo.pt-5.kt-align-right
                                    h1.kt-align-right $ ${nueve|getNueve|formatPrice}
                                .kt-invoice__items.kt-align-right.py-4
                                    .kt-invoice__item.kt-align-right
                                        div
                                            span.kt-invoice__subtitle ${selected} 
                                            span.kt-invoice__text 
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line1}}
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line2}}
                            .col-lg-6
                                .kt-invoice__items.kt-align-right.py-4
                                    .kt-invoice__item.kt-align-left
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line3}}
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line4}}
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line5}}
                                        div
                                            span.kt-invoice__subtitle
                                                small {{object.line6}}
                        .table-responsive(v-if="Cuts")
                            table.table
                                thead
                                    tr
                                        th DIA
                                        th PRODUCTOS 0%
                                        th PRODUCTOS .08%
                                        th PRODUCTOS .16%
                                        th IEPS
                                        th IVA
                                        th SUBTOTAL
                                        th +IEPS
                                        th +IVA
                                        th TOTAL
                                tbody
                                    tr(v-for="cut in Cuts")
                                        td ${cut.day}
                                        td.uno $${cut|getall|formatPrice}
                                        td.dos $${cut|get08|gettotal08|formatPrice}
                                        td.tres $${cut|get16|gettotal16|formatPrice}
                                        td.cuatro $${cut|get08|formatPrice}
                                        td.cinco $${cut|get16|formatPrice}
                                        td.seis $${cut|get0|formatPrice}
                                        td.siete $${cut|gettotalieps|formatPrice}
                                        td.ocho $${cut|gettotaliva|formatPrice}
                                        td.nueve $${cut|getTotal|formatPrice}
                                    tr
                                        td -
                                        td(style="background-color:#f3f3f3") $${uno|getUno|formatPrice}
                                        td(style="background-color:#f3f3f3") $${dos|getDos|formatPrice}
                                        td(style="background-color:#f3f3f3") $${tres|getTres|formatPrice}
                                        td(style="background-color:#f3f3f3") $${cuatro|getCuatro|formatPrice}
                                        td(style="background-color:#f3f3f3") $${cinco|getCinco|formatPrice}
                                        td(style="background-color:#f3f3f3") $${seis|getSeis|formatPrice}
                                        td(style="background-color:#f3f3f3") $${siete|getSiete|formatPrice}
                                        td(style="background-color:#f3f3f3") $${ocho|getOcho|formatPrice}
                                        td(style="background-color:#f3f3f3") $${nueve|getNueve|formatPrice}

script.
    {%block data%}
        {{block.super}}
        Cuts: [],
        selected: null,
        options: [
            { text: '---', value: '' },
            { text: 'Marzo 2019', value: '3-2019' },
            { text: 'Abril 2019', value: '4-2019' },
            { text: 'Mayo 2019', value: '5-2019' },
            { text: 'Junio 2019', value: '6-2019' },
            { text: 'Julio 2019', value: '7-2019' },
            { text: 'Agosto 2019', value: '8-2019' },
            { text: 'Septiembre 2019', value: '9-2019' },
        ],
        uno: 0,
        dos: 0,
        tres: 0,
        cuatro: 0,
        cinco: 0,
        seis: 0,
        siete: 0,
        ocho: 0,
        nueve: 0,
    {%endblock data%}

    {%block mounted%}
        {{block.super}}
    {%endblock mounted%}

    {%block methods%}
        {{block.super}}
        getCut:(() => {
            
        }),
    {%endblock methods%}

    {%block filters%}
        {{block.super}}
        getall: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIepsDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIvaDetail.__ALL.TOTAL.NUMBER)
            var ieps = 0
            Object.entries(cut.cuts).forEach(([key, value]) => ieps = ieps+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            ieps = ieps/.08
            var iva = 0
            Object.entries(cut.cuts).forEach(([key, value]) => iva = iva+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            iva = iva/.16
            return total - ieps -iva
        }),
        gettotal08: ((total) => {
            return total/.08
        }),
        gettotal16: ((total) => {
            return total/.16
        }),
        get08: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            return total
        }),
        get16: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            return total
        }),
        get0: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIepsDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIvaDetail.__ALL.TOTAL.NUMBER)
            return total
        }),
        
        gettotalieps: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            iepstotal = total/.08
            return total + iepstotal
        }),
        gettotaliva: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            ivatotal = total/.08
            return total + ivatotal
        }),
        getTotal: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            return total
        }),
        getUno: ((total)=> {
            var uno = document.getElementsByClassName("uno")
            for (var i = 0; i < uno.length; i++){
                total+=parseFloat(uno[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getDos: ((total)=> {
            var dos = document.getElementsByClassName("dos")
            for (var i = 0; i < dos.length; i++){
                total+=parseFloat(dos[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getTres: ((total)=> {
            var tres = document.getElementsByClassName("tres")
            for (var i = 0; i < tres.length; i++){
                total+=parseFloat(tres[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getCuatro: ((total)=> {
            var cuatro = document.getElementsByClassName("cuatro")
            for (var i = 0; i < cuatro.length; i++){
                total+=parseFloat(cuatro[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getCinco: ((total)=> {
            var cinco = document.getElementsByClassName("cinco")
            for (var i = 0; i < cinco.length; i++){
                total+=parseFloat(cinco[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getSeis: ((total)=> {
            var seis = document.getElementsByClassName("seis")
            for (var i = 0; i < seis.length; i++){
                total+=parseFloat(seis[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getSiete: ((total)=> {
            var siete = document.getElementsByClassName("siete")
            for (var i = 0; i < siete.length; i++){
                total+=parseFloat(siete[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getOcho: ((total)=> {
            var ocho = document.getElementsByClassName("ocho")
            for (var i = 0; i < ocho.length; i++){
                total+=parseFloat(ocho[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
        getNueve: ((total)=> {
            var nueve = document.getElementsByClassName("nueve")
            for (var i = 0; i < nueve.length; i++){
                total+=parseFloat(nueve[i].innerHTML.replace(',', '').replace('$', ''))
            }
            return total
        }),
    {%endblock filters%}

    {%block watch%}
        {{block.super}}
        'selected': function (newData, oldData) {
            self.Cuts = []
            var date = newData.split('-')
            if(date){
                Block(text="Calculando tabla...");
                for (day = 1; day <= 31; day++) {
                    Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=getReport',{'sellpointgroup':{{object.pk}},'month':date[0],'day':day}, errorDialog=false)
                    .then((json) => {
                        if (json.data.cuts.length > 0){
                            self.Cuts.push({'day':parseInt(json.data.day), 'cuts':json.data.cuts})
                            self.Cuts.sort(function (a, b) {
                                if (a.day < b.day) return -1;
                                if (a.day > b.day) return 1;
                                return 0;
                            });
                        }
                    }).catch((error) => {
                        Swal.fire('Ooops!',error.response.data.message,'error')
                    })
                }
                UnBlock();
            }
        }
    {%endblock watch%}
.