extends "generic/DetailView.html"
-load static
-load i18n
-load mirari_tags

block object_name
    {{object.name}}

block styles
    {{block.super}}
    link(href="{%static 'metronic/dist/demo5/assets/app/custom/invoices/invoice-v2.default.css'%}", rel='stylesheet', type='text/css')
    style.
        .kt-invoice-2 .kt-invoice__actions .kt-invoice__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    .

block content
    .kt-portlet
        .kt-portlet__body.kt-portlet__body--fit
            .kt-invoice-2
                .kt-invoice__wrapper
                    .kt-invoice__actions.px-5.pt-4
                        .kt-invoice__container
                            button.btn.btn-brand.btn-bold(type='button', onclick='window.print();') IMPRIMIR
                    .kt-invoice__head.kt-invoice__container.kt-invoice__container--centered
                        .row
                            .col-lg-12
                                form.kt-form.kt-form--label-right
                                    .kt-portlet__body
                                        h2 {{object.name}}
                                        .form-group
                                            label(for='') ELIGE UN MES
                                            select#exampleSelect1.form-control(v-model="selected")
                                                option(v-for="option in options" v-bind:value="option.value")
                                                    | ${option.text}
                    .kt-invoice__body.kt-invoice__body--centered
                        .table-responsive(v-if="Cuts")
                            table.table
                                thead
                                    tr
                                        th DIA
                                        th PRODUCTOS 0%
                                        th PRODUCTOS .08%
                                        th PRODUCTOS .16%
                                        th IEPS
                                        th IVA
                                        th SUBTOTAL
                                        th +IEPS
                                        th +IVA
                                        th TOTAL
                                tbody
                                    tr(v-for="cut in Cuts")
                                        td ${cut.day}
                                        td $${cut|getall|formatPrice}
                                        td $${cut|get08|gettotal08|formatPrice}
                                        td $${cut|get16|gettotal16|formatPrice}
                                        td $${cut|get08|formatPrice}
                                        td $${cut|get16|formatPrice}
                                        td $${cut|get0|formatPrice}
                                        td $${cut|gettotalieps|formatPrice}
                                        td $${cut|gettotaliva|formatPrice}
                                        td $${cut|getTotal|formatPrice}
                                    tr
                                        td -
                                        td ${uno}
                                        td ${dos}
                                        td ${tres}
                                        td ${cuatro}
                                        td ${cinco}
                                        td ${seis}
                                        td ${siete}
                                        td ${ocho}
                                        td ${nueve}

script.
    {%block data%}
        {{block.super}}
        Cuts: [],
        selected: null,
        options: [
            { text: '---', value: '' },
            { text: 'Marzo 2019', value: '3-2019' },
            { text: 'Abril 2019', value: '4-2019' },
            { text: 'Mayo 2019', value: '5-2019' },
            { text: 'Junio 2019', value: '6-2019' },
            { text: 'Julio 2019', value: '7-2019' },
            { text: 'Agosto 2019', value: '8-2019' },
            { text: 'Septiembre 2019', value: '9-2019' },
        ],
        uno: 0,
        dos: 0,
        tres: 0,
        cuatro: 0,
        cinco: 0,
        seis: 0,
        siete: 0,
        ocho: 0,
        nueve: 0,
    {%endblock data%}

    {%block mounted%}
        {{block.super}}
    {%endblock mounted%}

    {%block methods%}
        {{block.super}}
        getCut:(() => {
            
        }),
    {%endblock methods%}

    {%block filters%}
        {{block.super}}
        getall: ((cut) => {

            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIepsDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIvaDetail.__ALL.TOTAL.NUMBER)

            var ieps = 0
            Object.entries(cut.cuts).forEach(([key, value]) => ieps = ieps+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            ieps = ieps/.08

            var iva = 0
            Object.entries(cut.cuts).forEach(([key, value]) => iva = iva+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            iva = iva/.16
            //self.uno = self.uno + total - ieps -iva
            return total - ieps -iva
        }),
        gettotal08: ((total) => {
            total = total/.08
            //self.dos = self.dos + total
            return total
        }),
        gettotal16: ((total) => {
            total = total/.16
            //self.tres = self.tres + total
            return total
        }),
        get08: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            //self.cuatro = self.cuatro + total
            return total
        }),
        get16: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            //self.cinco = self.cinco + total
            return total
        }),
        get0: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIepsDetail.__ALL.TOTAL.NUMBER)
            Object.entries(cut.cuts).forEach(([key, value]) => total = total-value.getIvaDetail.__ALL.TOTAL.NUMBER)
            //self.seis = self.seis + total
            return total
        }),
        
        gettotalieps: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIepsDetail.__ALL.TOTAL.NUMBER)
            iepstotal = total/.08
            //self.siete = self.siete + total + iepstotal
            return total + iepstotal
        }),
        gettotaliva: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getIvaDetail.__ALL.TOTAL.NUMBER)
            ivatotal = total/.08
            //self.ocho = self.ocho + total + ivatotal
            return total + ivatotal
        }),
        getTotal: ((cut) => {
            var total = 0
            Object.entries(cut.cuts).forEach(([key, value]) => total = total+value.getTotalDetail.__ALL.TOTAL.NUMBER)
            //self.nueve = self.nueve + total
            return total
        }),
        
    {%endblock filters%}

    {%block watch%}
        {{block.super}}
        'selected': function (newData, oldData) {
            self.Cuts = []
            var date = newData.split('-')
            if(date){
                Block(text="Calculando tabla...");
                for (day = 1; day <= 31; day++) {
                    Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=getReport',{'sellpointgroup':{{object.pk}},'month':date[0],'day':day}, errorDialog=false)
                    .then((json) => {
                        if (json.data.cuts.length > 0){
                            self.Cuts.push({'day':parseInt(json.data.day), 'cuts':json.data.cuts})
                            self.Cuts.sort(function (a, b) {
                                if (a.day < b.day) return -1;
                                if (a.day > b.day) return 1;
                                return 0;
                            });
                        }
                    }).catch((error) => {
                        Swal.fire('Ooops!',error.response.data.message,'error')
                    })
                }
                UnBlock();
            }
        }
    {%endblock watch%}
.