-load static
-load i18n

// Layout wrapper
.layout-wrapper.layout-1
    .layout-inner
        // Layout container
        .layout-container
            // Layout content
            .layout-content
                // Content
                .container-fluid.flex-grow-1.container-p-y
                    .container-p-x.py-5.container-m--x.container-m--y.mb-0.pt-0
                        .row(v-if="$route.query.orderMode=='selectOrder'")
                            .col-8
                                .card-body
                                    h3(v-if="Client.id == 0 && Client.name == ''") PUBLICO EN GENERAL
                                    h3(v-else) ${Client.name}
                            .col-4
                                router-link(:to="{path:'client'}")
                                    a(href="javascript:void(0)")
                                        .card.bg-dark.border-0.text-white.mb-4
                                            .card-body.d-flex.justify-content-between.align-items-center.py-3
                                                div
                                                    .text-xlarge BUSCAR ORDEN O CLIENTE
                                                    .small.opacity-75 ELIGE UN CLIENTE PARA LA REMISIÓN
                                                i.fas.fa-user-tag.text-xlarge.opacity-25
                            .col-8
                                h4.media.align-items-center.font-weight-bold
                                    .media-body.ml-3
                                        .text-muted.text-tiny.mt-1
                                        small.font-weight-normal
                                            span(v-if="Client.phone") CONTACTO: ${Client.phone}
                                            br
                                            span(v-if="Client.email") CORREO: ${Client.email}
                                            br
                                            span(v-if="Client.rfc") RFC: ${Client.rfc}
                            .col-4(v-if="Sellpoint")
                                router-link(:to="{path:'sellpoint', query:{sellpointMode:'order'}}" v-if="Sellpoint.cenasid")
                                    a(href="javascript:void(0)" @click="Ticket.ticketType='REMISION'; Ticket.ticketType2='CENAS'; setMenuByID(Sellpoint.cenasid)")
                                        .card.bg-primary.border-0.text-white.mb-4
                                            .card-body.d-flex.justify-content-between.align-items-center.py-3
                                                div
                                                    .text-xlarge MARCAR CENA
                                                    .small.opacity-75 ELIGE UN CLIENTE PARA LA VENTA
                                                i.fas.fa-tags.text-xlarge.opacity-25
                            //
                                .col-4
                                    .card.bg-primary.border-0.text-white.mb-4
                                        .card-body.d-flex.justify-content-between.align-items-center.py-3
                                            div
                                                .text-xlarge BUSCAR REMISION
                                                .small.opacity-75 MUESTRA LOS DETALLES SOBRE UNA REMISION
                                            i.fas.fa-search.text-xlarge.opacity-25
                            .col-4
                            .col-4
                        template(v-if="LastClient")
                            .row(v-if="Client.id != LastClient.id && $route.query.orderMode=='selectOrder'")
                                .col-8
                                .col-4
                                    .card.bg-primary.border-0.text-white.mb-4(v-on:click="getClient(LastClient)")
                                        .card-body.d-flex.justify-content-between.align-items-center.py-3
                                            div
                                                .text-xlarge ULTIMO CLIENTE
                                                .small.opacity-75 ${self.LastClient.name}
                                            i.fas.fa-receipt.text-xlarge.opacity-25
                        .row(v-if="Client.id != 0 && $route.query.orderMode=='selectOrder'")
                            .col-4
                            .col-4
                                .card.bg-success.border-0.text-white.mb-4(v-on:click="Ticket.ticketType='PAGO';getDataOrder();Ticket.onAccount=Math.abs(Client.balance);")
                                    .card-body.d-flex.justify-content-between.align-items-center.py-3
                                        div
                                            .text-xlarge REGISTRAR PAGO
                                            .small.opacity-75 AGREGA UN PAGO A ESTE CLIENTE
                                        i.fas.fa-receipt.text-xlarge.opacity-25
                            //
                                .col-4
                                    .card.bg-success.border-0.text-white.mb-4
                                        .card-body.d-flex.justify-content-between.align-items-center.py-3
                                            div
                                                .text-xlarge IMPRIMIR SALDO
                                                .small.opacity-75 IMPRIME EL SALDO ACTUAL
                                            i.fas.fa-print.text-xlarge.opacity-25
                            .col-4
                                .card.bg-success.border-0.text-white.mb-4(v-on:click="Ticket.ticketType='DEVOLUCION';getDataOrder();Ticket.onAccount=0;")
                                    .card-body.d-flex.justify-content-between.align-items-center.py-3
                                        div
                                            .text-xlarge DEVOLUCION
                                            .small.opacity-75 ABONA UNA DEVOLUCIÓN AL CLIENTE
                                        i.fas.fa-exchange-alt.text-xlarge.opacity-25
                            .col-12(v-if="Client.id")
                                hr
                                h4(:class="[Client.balance < 0 ? 'text-danger':'text-dark']") SALDO ACTUAL $ ${Client.balance|formatPrice}
                                table.table.mb-0.pb-5
                                    thead
                                        td FOLIO / CORTE
                                        td FECHA
                                        td TIPO
                                        td TOTAL
                                        td A CUENTA
                                        //
                                            td FACTURACION
                                    tbody
                                        tr.h4.py-5(v-for="ticket in Client.tickets" :class="[ticket.total<=ticket.onAccount ? 'COBRADO':'PENDIENTE']" @click="getTicket(ticket.id)")
                                            td ${ticket.barcode} / ${ticket.cut}
                                            td ${ticket.format_date} ${ticket.format_time}  
                                            td ${ticket.ticketType}  
                                            td ${ticket.total|formatPrice}
                                            td ${ticket.onAccount|formatPrice}
                                            //
                                                td
                                                    button.btn.rounded-pill.btn-secondary.btn-xs(type='button' v-if="ticket.rfc") HACER FACTURA
                        .row(v-if="$route.query.orderMode=='finishOrder'")
                            .col-4
                                router-link(:to="{path:'order', query:{orderMode:'selectOrder'}}" v-if="Ticket.ticketType == 'REMISION'")
                                    a(href="javascript:void(0)" @click="resetOrder(resetTicket=true)")
                                        .card.bg-danger.border-0.text-white.mb-2
                                            .card-body.d-flex.justify-content-between.align-items-center.py-3
                                                div
                                                    .text-xlarge CANCELAR
                                                    .small.opacity-75 CANCELA ${Ticket.ticketType}
                                                i.fas.fa-times.text-xlarge.opacity-25
                            .col-4
                                router-link(:to="{path:'sellpoint', query:{sellpointMode:'order'}}" v-if="Ticket.ticketType == 'REMISION'")
                                    a(href="javascript:void(0)")
                                        .card.bg-primary.border-0.text-white.mb-2
                                            .card-body.d-flex.justify-content-between.align-items-center.py-3
                                                div
                                                    .text-xlarge EDITAR
                                                    .small.opacity-75 EDITAR PRODUCTOS
                                                i.fas.fa-edit.text-xlarge.opacity-25
                            .col-4
                                a(href="javascript:void(0)" @click="getBarCode()")
                                    .card.bg-primary.border-0.text-white.mb-2
                                        .card-body.d-flex.justify-content-between.align-items-center.py-3
                                            div
                                                .text-xlarge IMPRIMIR
                                                .small.opacity-75 IMPRIMIR ${Ticket.ticketType}
                                            i.fas.fa-print.text-xlarge.opacity-25
                        .row.mt-0(v-if="$route.query.orderMode=='finishOrder'")
                            .col-4(v-if="Ticket.ticketType == 'REMISION'")
                                h3 $ ${Ticket.total|formatPrice}
                                .card-body.d-flex.justify-content-between.py-1(v-for="line in Ticket.products")
                                    .text-large ${line.quantity}
                                    .text-right.small
                                        .badge.badge-outline-danger(v-for="offer in line.offers")
                                            | ${offer.name} -${offer.discountValue}%
                                        $ ${line.price|formatPrice}
                                        br
                                        strong ${line.productName}
                            .col-8
                                .card-body.demo-vertical-spacing-sm.py-1
                                    .input-group.input-group-lg
                                        .input-group-prepend
                                            .input-group-text
                                                strong A CUENTA $
                                        input.form-control(type="number" placeholder="CANTIDAD QUE DEJA A CUENTA" v-model="Ticket.onAccount")
                                    .input-group.input-group-lg(v-if="Ticket.ticketType == 'REMISION'")
                                        .input-group-prepend
                                            .input-group-text FECHA/HORA
                                        date-picker#b-m-dtp-datetime.form-control(type="text" placeholder="FECHA Y HORA DE ENTREGA" v-model="Ticket.datetimeOfDelivery")
                                    .input-group.input-group-lg
                                        .input-group-prepend
                                            .input-group-text NOTAS
                                        input.form-control(type="text" placeholder="INGRESA LOS DETALLES DEL TICKET" v-model="Ticket.notes")
                                h5.mt-2(v-if="Ticket.clientID") CLIENTE ID: ${Ticket.clientID}
                                .card-body.demo-vertical-spacing-sm.py-1
                                    .input-group.input-group-lg
                                        .input-group-prepend
                                            .input-group-text NOMBRE
                                        input.form-control(type="text" placeholder="NOMBRE O RAZON SOCIAL DEL CLIENTE" v-model="Ticket.clientName")
                                    .input-group.input-group-lg
                                        .input-group-prepend
                                            .input-group-text TELÉFONO
                                        input.form-control(type="text" placeholder="TELEFONO A 10 DIGITOS" v-model="Ticket.phone")
                        // Modal template
                        #modalTicketClient.modal.fade
                            .modal-dialog.modal-sm
                                form.modal-content
                                    .modal-body(v-if='TicketClient')
                                        h3.text-center.mb-1(v-if="TicketClient.onAccount") A CUENTA ${TicketClient.getOnAccount.MXN}
                                        h3.text-center.mb-1(v-else) TOTAL ${TicketClient.getTotal.TOTAL.MXN}
                                        h5.text-center.mb-0 FOLIO ${TicketClient.barcode}
                                        p.text-center.mb-0 ${TicketClient.format_date} ${TicketClient.format_time}
                                        p.text-center.mb-0 ${TicketClient.sellpoint.name}
                                        hr
                                        small
                                            p.text-center.mb-0(v-if='TicketClient.sellpoint.header_line_black_1') ${TicketClient.sellpoint.header_line_black_1}
                                            p.text-center.mb-0(v-if='TicketClient.sellpoint.header_line_black_2') ${TicketClient.sellpoint.header_line_black_2}
                                            p.text-center.mb-0(v-if='TicketClient.sellpoint.header_line_1') ${TicketClient.sellpoint.header_line_1}
                                            p.text-center.mb-0(v-if='TicketClient.sellpoint.header_line_2') ${TicketClient.sellpoint.header_line_2}
                                            hr(v-if='TicketClient.clientID')
                                            p.text-center.mb-0(v-if='TicketClient.clientID') ID Cliente: ${TicketClient.clientID}
                                            p.text-center.mb-0(v-if='TicketClient.clientName') Nombre: ${TicketClient.clientName}
                                            p.text-center.mb-0(v-if='TicketClient.email') Email: ${TicketClient.email}
                                            p.text-center.mb-0(v-if='TicketClient.phone') Teléfono: ${TicketClient.phone}
                                            p.text-center.mb-0(v-if='TicketClient.rfc') RFC: ${TicketClient.rfc}
                                            p.text-center.mb-0(v-if='TicketClient.datetimeOfDelivery') Fecha de entrega: ${TicketClient.datetimeOfDelivery|formatTDate}
                                            p.text-center.mb-0(v-if='TicketClient.destination') Destino: ${TicketClient.destination}
                                            p.text-center.mb-0(v-if='TicketClient.notes') Notas: ${TicketClient.notes}
                                        hr(v-if='TicketClient.products.length > 0')
                                        div(v-for='product in TicketClient.products')
                                            strong.mr-3 ${product.quantity} 
                                            small ${product.productName}
                                            strong.text-right.ml-3 $${product.total|formatPrice}
                                            strong.text-danger.text-right.ml-1(v-if="product.getTotalDisscount")
                                                small.text-right -$${product.getTotalDisscount|formatPrice}
                                            p.text-danger.text-right.mb-0.ml-5(v-for='offer in product.offers' v-if="product.getTotalDisscount > 0")
                                                small.text-right ${offer.name}
                                        hr
                                        p.text-right.mb-0 
                                            |IEPS: 
                                            strong  ${TicketClient.getIeps.MXN}
                                        p.text-right.mb-0 
                                            |IVA: 
                                            strong  ${TicketClient.getIva.MXN}
                                        p.text-right.mb-0 
                                            |Subtotal: 
                                            strong  ${TicketClient.getSubTotal.MXN}
                                        p.text-right.mb-0(v-if="TicketClient.getTotal.TOTALDISCOUNTS.INT")
                                            |Descuentos: 
                                            strong  ${TicketClient.getTotal.TOTALDISCOUNTS.MXN}
                                        p.text-right.mb-0 
                                            |Total: 
                                            strong  ${TicketClient.getTotal.TOTAL.MXN}
                                        p.text-center.mb-0
                                            small ${TicketClient.barcode} :: ${TicketClient.key}
                                        hr
                                        h5.text-center.mb-0 ${TicketClient.status}
                                        h5.text-center.mb-0 ${TicketClient.ticketType}
                                        .card.bg-primary.border-0.text-white.mb-1.mt-2
                                            .card-body.d-flex.justify-content-between.align-items-center.py-3
                                                div
                                                    .text-xlarge DIFERENCIA
                                                    .small.opacity-75 TOTAL CORREGIDO DE UN TICKET
                                                i.fas.fa-tags.text-xlarge.opacity-25
                                    
                nav.layout-footer.footer.bg-footer-theme
                    .container-fluid.d-flex.flex-wrap.justify-content-between.text-center.container-p-x.pb-3
                        .pt-3
                            span.footer-text.font-weight-bolder.px-3.h4 
                                span
                        include SV__TemplateView__Footer.pug