-load static
-load i18n

// Layout wrapper
.layout-wrapper.layout-1
    .layout-inner
        // Layout container
        .layout-container
            // Layout sidenav
            #layout-sidenav.layout-sidenav.sidenav.sidenav-vertical.bg-sidenav-theme
                // Links
                ul.sidenav-inner.py-1
                    // Links
                    // li.sidenav-divider.mb-1
                    // | ${$route.path}
                    // li.sidenav-header.small.font-weight-semibold
                    
            // Layout content
            .layout-content
                // Content
                .container-fluid.d-flex.align-items-stretch.flex-grow-1.p-0
                    .flex-shrink-1.flex-grow-0.w-30.bg-light.px-1.py-1
                        // Teclado
                        .card.d-flex.w-100.mb-1
                            .row.no-gutters.row-bordered.row-border-light.h-100
                                .d-flex.col-sm-12.align-items-center
                                    button.btn.btn-default.card-body.align-items-center.text-dark.text-center.py-2
                                        span.media-body.d-block
                                            span.text-big.font-weight-bolder ${Quantity}
                            .row.no-gutters.row-bordered.row-border-light.h-100
                                .d-flex.col-sm-4.align-items-center(v-for="index in 9" :key="index")
                                    button.btn.btn-default.card-body.align-items-center.text-dark.text-center.waves-effect(v-on:click="keyboard(index)")
                                        span.media-body.d-block
                                            span.text-big.font-weight-bolder ${index}
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.card-body.align-items-center.text-dark.text-center.waves-effect(v-on:click="keyboard('<')")
                                        span.media-body.d-block
                                            span.fas.fa-angle-left
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.card-body.align-items-center.text-dark.text-center.waves-effect(v-on:click="keyboard('0')")
                                        span.media-body.d-block
                                            span.text-big.font-weight-bolder 0
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.card-body.align-items-center.text-dark.text-center.waves-effect(v-on:click="keyboard('.')")
                                        span.media-body.d-block
                                            span.text-big.font-weight-bolder .
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.btn-xl.card-body.align-items-center.text-center.waves-effect(v-on:click="initTicket()")
                                        span.media-body.d-block
                                            span.fas.fa-trash.text-danger
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.btn-xl.card-body.align-items-center.text-center.waves-effect(v-on:click="keyboard('<')")
                                        span.media-body.d-block
                                            span.fas.fa-angle-up
                                .d-flex.col-sm-4.align-items-center
                                    button.btn.btn-default.btn-xl.card-body.align-items-center.text-center.waves-effect(v-on:click="getBarCode()" :disabled="Ticket.products.length<1 || Ticket.proccessing")
                                        span.media-body.d-block
                                            span.fas.fa-print
                        div(v-if="Ticket")
                            .card-body.d-flex.justify-content-between.py-1(v-for="line in Ticket.products")
                                .text-large ${line.quantity}
                                .text-right.small
                                    .badge.badge-outline-danger(v-for="offer in line.offers")
                                        | ${offer.name} -${offer.discountValue}%
                                    $ ${line.price|formatPrice}
                                    br
                                    strong ${line.productName}
                    .flex-shrink-1.flex-grow-1.px-1.py-1
                        // Layout footer
                            h4.font-weight-bold.py-3.mb-4
                                span.font-weight-bold.align-middle
                                    span.text-muted.font-weight-light Layouts /
                                    |  Without navbar (Flex)
                                a.layout-sidenav-toggle.d-inline-block.text-muted.align-middle.ml-3(href='javascript:void(0)' style='font-size: 14px')
                                    i.ion.ion-md-menu.text-large.align-middle
                        div(v-if="Sellpoint && Menu")
                            
                // Layout footer
                nav.layout-footer.footer.bg-footer-theme
                    .container-fluid.d-flex.flex-wrap.justify-content-between.text-center.container-p-x.pb-3
                        .pt-3(v-if="Ticket")
                            span.footer-text.font-weight-bolder.px-3.h4 $ ${Ticket.total|formatPrice}
                        .pt-3(v-if="ActivePrinter.name")
                            span.footer-text.pl-1.text-success
                                i.fas.fa-print.pr-2
                                | ${ActivePrinter.name}
                        include Component__footer_links.pug
    .layout-overlay.layout-sidenav-toggle