-load static
-load i18n

// Layout wrapper
.layout-wrapper.layout-1
    .layout-inner
        // Layout container
        .layout-container
            // Layout content
            .layout-content
                // Content
                .container-fluid.d-flex.align-items-stretch.flex-grow-1.p-0(style="height:92vh;overflow-y:scroll;")
                    table.table.mb-0
                        tbody
                            tr.h4(v-for="ticket in Tickets" v-bind:class="ticket.status")
                                td ${ticket.key}
                                td(:style="{color:ticket.sellpoint.color}") ${ticket.sellpoint.name}
                                td ${ticket.date|FormatTDate}
                                td 
                                    strong ${ticket.barcode}
                                td $ ${ticket.total|formatPrice}
                // Layout footer
                nav.layout-footer.footer.bg-footer-theme
                    .container-fluid.d-flex.flex-wrap.justify-content-between.text-center.container-p-x.pb-3
                        .pt-3
                            span.footer-text.font-weight-bolder.px-3.h4 
                                span(v-if="LastTicketScan") ${LastTicketScan|padStart}
                        include Component__footer_links.pug
    .layout-overlay.layout-sidenav-toggle


