extends "generic/ListView.html"
-load static
-load i18n
-load mirari_tags

block content
    {{block.super}}
    // begin::Modal
    #kt_modal_ticket.modal.fade(tabindex='-1', role='dialog', aria-labelledby='TicketDetails', aria-hidden='true')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body(v-if='Ticket')
                    h3.text-center.mb-1
                    h5.text-center.mb-0 FOLIO ${Ticket.barcode}
                    p.text-center.mb-0 ${Ticket.format_date} ${Ticket.format_time}
                    p.text-center.mb-0 ${Ticket.sellpoint.name}
                    hr
                    small
                        p.text-center.mb-0(v-if='Ticket.sellpoint.header_line_black_1') ${Ticket.sellpoint.header_line_black_1}
                        p.text-center.mb-0(v-if='Ticket.sellpoint.header_line_black_2') ${Ticket.sellpoint.header_line_black_2}
                        p.text-center.mb-0(v-if='Ticket.sellpoint.header_line_1') ${Ticket.sellpoint.header_line_1}
                        p.text-center.mb-0(v-if='Ticket.sellpoint.header_line_2') ${Ticket.sellpoint.header_line_2}
                        hr(v-if='Ticket.clientID')
                        p.text-center.mb-0(v-if='Ticket.clientID') ID Cliente: ${Ticket.clientID}
                        p.text-center.mb-0(v-if='Ticket.clientName') Nombre: ${Ticket.clientName}
                        p.text-center.mb-0(v-if='Ticket.email') Email: ${Ticket.email}
                        p.text-center.mb-0(v-if='Ticket.phone') Tel&eacute;fono: ${Ticket.phone}
                        p.text-center.mb-0(v-if='Ticket.rfc') RFC: ${Ticket.rfc}
                        p.text-center.mb-0(v-if='Ticket.datetimeOfDelivery') Fecha de entrega: ${Ticket.datetimeOfDelivery}
                        p.text-center.mb-0(v-if='Ticket.destination') Destino: ${Ticket.destination}
                        p.text-center.mb-0(v-if='Ticket.notes') Notas: ${Ticket.notes}
                    hr(v-if='Ticket.products.length > 0')
                    div(v-for='product in Ticket.products')
                        p.text-left.mb-0
                            strong
                        div(v-for='offer in product.offers')
                            p.text-right.mb-0
                    hr
                    p.text-right.mb-0(v-else='')
                    p.text-center.mb-0
                        small ${Ticket.barcode} :: ${Ticket.key}
                    hr
                    h5.text-center.mb-0 ${Ticket.status}
                    h5.text-center.mb-0 ${Ticket.ticketType}
                    
                    hr
                    .form-group
                        label(for='Ticket') ESTATUS DEL TICKET
                        select.form-control.kt-select2(v-model='Ticket.status')
                            option(v-for='option in StatusTicket', v-bind:value='option.value')
                                ${option.text}

script.
    {%block data%}
        {{block.super}}
        Ticket: null,
        ActiveTicket: null,
        StatusTicket: [
            {%for option in model.STATUS_TICKET%}{text:'{{option.1}}',value:'{{option.0}}'},{%endfor%}
        ],
    {%endblock data%}

    {%block mounted%}
        {{block.super}}
        $(document).on('click','.getTicket',function(){
            self.ActiveTicket = $(this)
            Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=getTicket', {'ticket': $(this).attr('ticket')}, false, 3000).then(function(json){
                self.Ticket = json.data.ticket
                $('#kt_modal_ticket').modal('show')
            });
        });
    {%endblock mounted%}

    {%block methods%}
        {{block.super}}
    {%endblock methods%}

    {%block filters%}
        {{block.super}}
        formatPrice: ((value) => {
            let val = (value/1).toFixed(2)
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }),
        FormatTDate: ((value) => {
            moment.locale('es');
            return String(moment(value).format('DD/MM/YYYY h:mm:ss'))
        }),
    {%endblock filters%}

    {%block watch%}
        {{block.super}}
        'Ticket.status': function (newData, oldData) {
            Ax('post', '{%url 'SV:Sellpoint__ApiView' 'SV' 'set_sellpoint' 'Sellpoint'%}?api=changeStatusTicket',self.Ticket,false,0).then(function(json){
                self.Ticket.status = json.data.ticket.status
            }).finally(() => {
                $('#statusTicket'+self.Ticket.id).text(self.Ticket.status)
            });
        }
    {%endblock watch%}
.